body {

    display: block;
    margin: 8px;
}

div {
    
    display: block;
}

.box {

    height: 400px;
    width: 400px;
    perspective: 800px;
    margin: 100px;
}

.card {

    height: 100%;
    width: 100%;
    position: relative;
    transition: 4s;
    transform-style: preserve-3d;
    background-color: beige;
}